$padding: 10px 36px;
$gap: 10px;
$border-radius: 20px;
$font-size: 16px;
$font-weight: 700;



.button {
    display: flex;
    background-color: rgb(3, 102, 194);
    padding: $padding;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $gap;
    border-radius: $border-radius;
    min-width: fit-content;
    border: none;
    outline: none;

    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: $font-size;
    font-weight: $font-weight
}